<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <title>开票数据校验微服务</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script th:src="@{/jquery/jquery-1.9.1.min.js}"></script>
    <script th:src="@{/jquery/jquery-migrate-1.1.1.js}"></script>
    <link rel="stylesheet" th:href="@{/bootstrap/2.3.1/css_default/bootstrap.min.css}"/>
    <script th:src="@{/bootstrap/2.3.1/js/bootstrap.js}"></script>
    <link rel="stylesheet" th:href="@{/jquery-select2/3.4/select2.min.css}"/>
    <script th:src="@{/jquery-select2/3.4/select2.min.js}"></script>
    <link id="skin" rel="stylesheet" th:href="@{/jquery-jbox/2.3/Skins/Default/jbox.css}"/>
    <script type="text/javascript" th:src="@{/jquery-jbox/2.3/jquery.jBox-2.3.js}"></script>
    <script type="text/javascript" th:src="@{/jquery-jbox/2.3/i18n/jquery.jBox-zh-CN.js}"></script>
</head>
<body>
<div layout:fragment="content">
    <h1 class="page-header">&nbsp;&nbsp;开票数据校验微服务</h1>

    <ul class="ul-form">
        <li><h3>更多功能尽请期待！</h3></li>
    </ul>

</div>
</body>
</html>